@media(max-width:568px){
    .hero-text{
        background-image: url(./../images/hero-img.jpg);
        padding: 1rem;
        
    }
}
.blog-details img{
    display: block;
    margin: auto;
    height: 300px;
}

.success{
    color: green;
}
.error{
    color: red;
}
html[data-theme="light"], :root {
    --primary: #000;
    --secondary: #222;
    --breadcrumbs-bg:#000;
  }